body {
    background-image: url(https://www.publicdomainpictures.net/pictures/170000/velka/yellow-gradient-background-1461271359KTH.jpg); 
    background-size: 400% 400%;
    background-repeat: no-repeat;
    height: 100vh;
}


h1{
    font-size: 20px;
}